
/*----------------------------------------
Navigation
----------------------------------------*/


.container {
    width: 750px;
    padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	@media (min-width: 992px) {
    	width: 970px;
	}
	@media (min-width: 1200px) {
    	width: 1170px;
	}
}




// Brand and Toggle 
.navbar-header {
	float: left;

	.navbar-brand {
	    float: left;
	    padding: 15px 15px;
	        padding-top: 15px;
	        padding-bottom: 15px;
	    font-size: 18px;
	    line-height: 20px;
	}
	.navbar-toggle {
		display: none;
	}
}

@media (max-width: 767px) {

	.navbar-header {
		.navbar-toggle {
			display: block;
		    position: relative;
		    float: right;
		    padding: 9px 10px;
		    margin-top: 8px;
		    margin-right: 15px;
		    margin-bottom: 8px;
		    background-color: transparent;
		    background-image: none;
		    border: 1px solid transparent;
		    border-radius: 4px;
		    .icon-bar + .icon-bar {
			    margin-top: 4px;
			}
			.icon-bar {
			    display: block;
			    width: 22px;
			    height: 2px;
			    border-radius: 1px;
			}
		}
	}
}







// NavBar
.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    }

.collapse {
	display: none;
}
.collapse.in {
    display: block;
}

.nav-wrapper .navbar-header,
.nav-wrapper .navbar-header .navbar-brand {
    float: none;
}




.navbar-nav {
    margin: 7.5px -15px;
}
.nav > li {
    position: relative;
    display: block;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
        padding-top: 10px;
        padding-bottom: 10px;
}



.nav-wrapper {
	width: 100%;
	padding: 6px 0;
	position: fixed;
	top: 0;
	left: 0;
	background-color: transparent;
	z-index: 20;
}
.nav-wrapper .navbar-toggle .icon-bar {
	background-color: #fff;
}
.nav-wrapper .navbar {
  position: relative;
  min-height: 50px;
}
.nav-wrapper .navbar-brand {
	display: block;
	padding-bottom: 15px;
	padding-top: 15px;
	font-size: 20px;
	font-weight: 700;
	color: #ddd;
	float: left;
}

.nav-wrapper .nav li a {
	position: relative;
	font-size: 13px;
	font-weight: 700;
	color: #ddd;
}
.nav-wrapper .nav li a:after {
	content: "";
	display: none;
	position: absolute;
	width: 0;
	height: 2px;
	bottom: 6px;
	left: 10%;
	background-color: #ddd;
	-webkit-transition: all .28s ease-in-out;
	-o-transition: all .28s ease-in-out;
	-moz-transition: all .28s ease-in-out;
	transition: all .28s ease-in-out;
}
.nav-wrapper .nav>li>a:hover,
.nav-wrapper .nav>li>a.active {
	background-color: transparent;
}
.nav-wrapper .nav>li>a:hover:after,
.nav-wrapper .nav>li>a.active:after {
	width: 80%;
}
.nav-wrapper .nav>li>a:focus {
	background-color: transparent;
}
.nav-sticky {
	background-color: #fff !important;
	padding: 6px 0 !important;
	border-bottom: 1px solid #f0f0f0;
}
.nav-sticky .navbar-toggle .icon-bar {
	background-color: #232323;
}
.nav-sticky .navbar-brand,
.nav-sticky .nav li a {
	color: #232323;
}
.nav-sticky .nav li a:after {
	background-color: #3f3f3f;
}
.nav-sticky .navbar-collapse {
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
	box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
}



@media (min-width: 768px) {
	.collapse {
		display: block;
	}
	.navbar-right {
	    float: right !important;
	    margin-right: -15px;
	}
	.navbar-nav > li {
	    float: left;
	}
	.nav-wrapper .navbar-header,
	.nav-wrapper .navbar-header .navbar-brand {
	    float: left;
	}
}






